.highlight { 
    background-color: #1D222D;
    max-height: 25em;
    overflow-y: auto;
    border-left: 1em solid #ccc;
    max-width: 80%;
    color: #e9e8e8;
}
.c { color: #7f7f7f } /* Comment */
.err { color: #960050; background-color: #1e0010 } /* Error */
.k { color: #638ab8 } /* Keyword */
.l { color: #79cb34 } /* Literal */
.n { color: #ffa500 } /* Name */
.o { color: #e9e8e8 } /* Operator */
.p { color: #e9e8e8 } /* Punctuation */
.cm { color: #7f7f7f } /* Comment.Multiline */
.cp { color: #7f7f7f } /* Comment.Preproc */
.c1 { color: #7f7f7f } /* Comment.Single */
.cs { color: #7f7f7f } /* Comment.Special */
.ge { font-style: italic } /* Generic.Emph */
.gs { font-weight: bold } /* Generic.Strong */
.kc { color: #638ab8 } /* Keyword.Constant */
.kd { color: #638ab8 } /* Keyword.Declaration */
.kn { color: #f92672 } /* Keyword.Namespace */
.kp { color: #638ab8 } /* Keyword.Pseudo */
.kr { color: #638ab8 } /* Keyword.Reserved */
.kt { color: #638ab8 } /* Keyword.Type */
.ld { color: #66cf33 } /* Literal.Date */
.m { color: #79cb34 } /* Literal.Number */
.s { color: #66cf33 } /* Literal.String */
.na { color: #e9e8e8 } /* Name.Attribute */
.nb { color: #ffa500 } /* Name.Builtin */
.nc { color: #e9e8e8 } /* Name.Class */
.no { color: #e9e8e8 } /* Name.Constant */
.nd { color: #e9e8e8 } /* Name.Decorator */
.ni { color: #ffa500 } /* Name.Entity */
.ne { color: #e9e8e8 } /* Name.Exception */
.nf { color: #e9e8e8 } /* Name.Function */
.nl { color: #ffa500 } /* Name.Label */
.nn { color: #e9e8e8 } /* Name.Namespace */
.nx { color: #e9e8e8 } /* Name.Other */
.py { color: #ffa500 } /* Name.Property */
.nt { color: #f92672 } /* Name.Tag */
.nv { color: #ffa500 } /* Name.Variable */
.ow { color: #f92672 } /* Operator.Word */
.w { color: #ffa500 } /* Text.Whitespace */
.mf { color: #79cb34 } /* Literal.Number.Float */
.mh { color: #79cb34 } /* Literal.Number.Hex */
.mi { color: #79cb34 } /* Literal.Number.Integer */
.mo { color: #79cb34 } /* Literal.Number.Oct */
.sb { color: #66cf33 } /* Literal.String.Backtick */
.sc { color: #66cf33 } /* Literal.String.Char */
.sd { color: #66cf33 } /* Literal.String.Doc */
.s2 { color: #66cf33 } /* Literal.String.Double */
.se { color: #79cb34 } /* Literal.String.Escape */
.sh { color: #008282 } /* Literal.String.Heredoc */
.si { color: #66cf33 } /* Literal.String.Interpol */
.sx { color: #66cf33 } /* Literal.String.Other */
.sr { color: #66cf33 } /* Literal.String.Regex */
.s1 { color: #66cf33 } /* Literal.String.Single */
.ss { color: #66cf33 } /* Literal.String.Symbol */
.bp { color: #ffa500 } /* Name.Builtin.Pseudo */
.vc { color: #ffa500 } /* Name.Variable.Class */
.vg { color: #ffa500 } /* Name.Variable.Global */
.vi { color: #ffa500 } /* Name.Variable.Instance */
.il { color: #79cb34 } /* Literal.Number.Integer.Long */
